@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Prathmesh */
.containerTitle {
  padding-top: 30px;
  text-align: center;
  text-shadow: 2px 2px 0px #fff, 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.container1 {
  background-color: aliceblue;
  padding-bottom: 100px;
}

.container2 {
  padding-bottom: 100px;
}

#Section5 {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#Section7 {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#Section10 {
  padding-top: 100px;
  padding-bottom: 140px;
}

.heading {
  font-family: Poppins;
  font-weight: 650;
  text-align: center;
}

/* .card-title {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 15px;
  font-family: Poppins;
  font-weight: 550;
}

.card-subtitle {
  padding-left: 15px;
  font-family: Poppins;
  font-weight: 500;
} */

.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.container1 .card img {
  width: 53%;
  object-fit: fill;
  border-top-right-radius: 6%;
  border-bottom-right-radius: 6%;
  border-top-left-radius: 0%;
}

.container1 .card {
  border-radius: 5%;
}

.container2 .card img {
  height: 50%;
  object-fit: fill;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}



/* Vedant */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: 'Poppins', sans-serif;
  color: #10182f;
}

.container_focus1 {
  display: flex;
  width: 100%;
  /* padding-left: 150px; */
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: center;
}

.container_property1 {
  display: flex;
  width: 100%;
  /* padding-left: 80px; */
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: center;
}

.card_focus {
  margin: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  padding-left: 0;
}

.card_property {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 350px;
}

.card_focus-header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: 20px;
}

.card_property-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card_focus-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  min-height: 200px;
}

.card_focus-body button {
  width: 100px;
  height: 40px;
  text-align: center;
  margin-top: auto;
}

.card_property-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 200px;
}

.card_property-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user_property {
  display: flex;
  margin-top: auto;
}

.user_property img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user_property-info h5 {
  margin: 0;
}

.user_property-info small {
  color: #545d7a;
}

.title {
  padding-top: 0px;
  text-align: center;
  text-shadow: 2px 2px 0px #fff, 3px 3px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 50px;
}

.card_property-body p {
  font-size: 110%;
}

.buttonAlign {
  text-align: center;
}

/* Satadru */
.navbar .container-fluid {
  height: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.container-fluid .collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand span {
  font-weight: 600;
  color: rgb(89, 166, 255);
}

.btnSign .btn-primary {
  background-color: rgb(89, 166, 255);
  border-color: rgb(89, 166, 255);
}

.search {
  margin: 100px;
}

/* footer */

.footer-above {
  display: flex;
  justify-items: center;
}

ul>li>a {
  list-style-type: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}


/* end footer styling */