/* form{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: blueviolet;
} */

.login{
    /* font-family: sans-serif; */
    margin: 50px auto;
    margin-top: 100px;
    max-width: 33%;
}

.mb-3{
    margin: 20px 0;
}

.newUser{
    margin-top: 10px;
}

.custom-control{
   display: flex;
   justify-content: space-between;
    
}