@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.pre-heading{
    color: blue;
}

.heading {
    font-family: Poppins;
    font-weight: 650;
    text-align: center;
}

.jumbotron{
    padding-top: 100px;
    padding-bottom: 100px;
}




