/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

.about--page--content {
    font-family: 'Poppins', sans-serif;
}

.about--us--box {
    margin: 10%;
}

.page--header{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}